
.titulo{
  font-size: 1.3rem;
}

.icone-down{
  font-size:1.5rem;
  font-weight: bolder;
}

.spinner{
  margin-top: 20px;

  .svg{
    left: 40%;
  }

}

ion-card{
  // border-style: ridge;
  height: 60px;
  -webkit-box-shadow: 0 6px 4px -6px #777;
  -moz-box-shadow: 0 6px 4px -6px #777;
  box-shadow: 0 6px 6px -6px #777;
}
