<ion-content [fullscreen]="true">
  <div>
    <ion-list class="first">
      <ion-item>
        <ion-label>Selecione o dia</ion-label>
        <ion-select interface="popover" placeholder="Select fruit">
          <ion-select-option value="Quinta-feira">Quinta-feira</ion-select-option>
          <ion-select-option value="Sexta-feira">Sexta-feira</ion-select-option>
          <ion-select-option value="Sabado">Sabado</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
 </div>
</ion-content>
