.swiper-slide img{
  height: 90px;
}

.titulo{
  font-size: 0.7rem !important;
  margin-top: 2px !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fonte{
  font-size: 0.6rem !important;
  margin-top: 2px !important;
}

.section-header{
  margin-left: 10px !important;
  font-weight: bold;
}


